@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Layouts */
@import "colors.css";
@import "animations.css";
@import "layouts/post-input-field.css";
@import "layouts/posts.css";
@import "layouts/edit-post.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.limit-container {
    max-width: 500px !important;
    margin: auto !important;
}

.title-bar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--sea-blue);
    box-shadow: 0 1px 4px var(--black1);
}